html, body{
	width:100%;
	height:100%;
}
html *{
	padding:0px;
	margin:0px;
}
body{
  background: url("/assets/body_noise_media.png") 50% 0px #E3E8EC;
}
#logo{
  position:absolute;
  bottom: 5px;
  right: 5px;
  height: 20px;
}
#frames{
  width:101%;
  height:100%;
  text-align: center;
}
#frames img.grid{
  width:33.33%;
  float:left;
}
@media all and (min-width: 200px) {
	#frames img.grid{
	  width:25%;
	}
}
@media all and (min-width: 250px) {
	#logo{
	  bottom: 7px;
	  right: 7px;
	  height: 30px;
	}
	#frames img.grid{
	  width:20%;
	}
}
@media all and (min-width: 300px) {
	#logo{
	  bottom: 10px;
	  right: 10px;
	  height: 35px;
	}
}


div#loading{
  display:none;
  width:100%;
  height:100%;
  position:relative;
  animation:roller 30s linear;
  animation-iteration-count:-1;
  background-image: repeating-linear-gradient(90deg, #F92F4A, #F92F4A 12.5%, #FDB228 12.5%, #FDB228 25%, #61C07E 25%, #61C07E 37.5%, #3371FF 37.5%, #3371FF 50%, #F92F4A 50%, #F92F4A 62.5%, #FDB228 62.5%, #FDB228 75%, #61C07E 75%, #61C07E 87.5%, #3371FF 87.5%, #3371FF 100%);
}

@keyframes roller {
  from { background-position: 0px 0px; }
  to { background-position: 1000px 0px; }
}

body.loading div#loading{
	display: block;
}

body.loading #frames,
body.loading #logo{
	display: none;
}

img.stack{
  transition:all 0.5s ease-in;
  display:block;
  height:100%;
  opacity: 1;
  padding: 1.8%;
  background-color: #FFFFFF;
  position:absolute;
  left:25%;
}

img.stack.hidden{
  transform: scale(5, 5) rotate(20deg) translate(0px, 0px) !important;
}

img.hidden{
  opacity: 0 !important;
}

img.fade{
  transition:all 1.2s linear;
  display:block;
  width:100%;
  opacity: 1;
  position:absolute;
  top:-25%;
  transform: scale(0.75, 0.75);
  animation:fadeAni 7s linear;
  animation-iteration-count:1;
}

@keyframes fadeAni {
  0% { transform: scale(1.5, 1.5); }
  100% { transform: scale(0.8, 0.8) }
}