html, body, #main{
  width:100%;
  height:100%;
}
html *{
  padding:0px;
  margin:0px;
  font-family: "proxima-nova", "Helvetica Neue", "Arial", "Helvetica", sans-serif;
}
body{
	background: url("/assets/body_noise_media.png") 50% 0px #E3E8EC;
}
header{
  background-image: linear-gradient(rgba(247, 246, 246, 0.8), rgba(247, 246, 246, 0.2));
  box-shadow: 0px 0px 2px #888;
}
#logo-holder{
  width:800px;
  margin:auto;
  padding-top: 5px;  
  height:45px;
}
#logo-holder img{
  padding-left:4px;
  height:40px;
}
#forkMe{
  position: absolute;
  top: 58px;
  right: 0;
  border: 0;
  top: 50px;
}
#main{
  width:800px;
  height:405px;
  border:1px solid blue;
  border-radius: 10px;
  margin: 20px auto;
  border: 1px solid rgba(0, 0, 0, 0.05);
  display: flex;
  flex-flow: row;
}
#feedOptions,
nav{
  border: 1px solid #1C5380;
  box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 0.102), inset 1px 0px 0px rgba(255, 255, 255, 0.047), 0px 1px 3px rgba(0, 0, 0, 0.149), -2px 0px 2px rgba(0, 0, 0, 0.102);
}
#feedOptions ul,
nav{
  width:20%;
  height:100%;
  background-color: #5F8CB0;
  background-image: url("/assets/noise-2.png"), -o-linear-gradient(left, #4A7496, #5F8CB0);
  background-position: 50% 50%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
#inner{
  width:80%;
  box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 0.102), inset 0px 0px 4px rgba(0, 0, 0, 0.3), 0px 1px 3px rgba(0, 0, 0, 0.149), -2px 0px 2px rgba(0, 0, 0, 0.102);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 15px;
}
ul{
  list-style:none;
  margin:0px;
  padding:0px;
}
nav li{
  border-top: 1px solid #1C5380;
}
nav li:first-child{
  border-top: 0px solid #1C5380;
}
nav li label {
  display:block;
  vertical-align: middle;
  color:#eee;
  height: 202px;
  text-decoration: none;
  font-weight:normal;
}
nav li div{
  vertical-align: middle;
  height:100%;
  width: 100%;
}
input[type=radio]{
  display: none;
}
input:checked + div{
  background-color: rgba(0,0,0,0.4);
}
nav li:first-child input:checked + div{
  border-top-left-radius: 10px;
}
nav li:last-child input:checked + div{
  border-bottom-left-radius: 10px;
}
nav li div.label-inner{
  left:12px;
  top:75px;
  font-size:1.6em;
  position: relative;
  width:142px;
  height:70px;
  cursor: pointer;
}
nav li div.label-inner span{
  display:inline-block;
  top:-10px;
  position:relative
}
li i{
  width:52px;
  height:50px;
  display: inline-block;
  background-size: 272px;
  background-repeat: no-repeat;
  background-image: url("/assets/icon_sprite.png");
}
nav li label[for=photo] i{
  background-position: -48px 0px;
}
nav li label[for=feeds] i{
  background-position: 4px 0px;
}
nav li label[for=info] i{
  background-position: -108px 0px;
}
#inner > section{
  display: none;
}
#inner.photo #photo,
#inner.feeds #feeds,
#inner.info #info{
  display: block;
  height:375px;
}
#inner.info #info h2{
  color:#555;
}
#inner.info #info{
  color:#666;
}
#inner a{
 color:#444;
 text-decoration: none;
} 
#inner a{
 color:#222;
}
article{
  padding:10px;
}
#currentPhoto{
  width:157px;
  float:left;
  padding:10px;
  background-color: #FFF;
}
article > div{}
#currentDetails{
  float:left;
  clear:both;
  height:55px;
  width:67%;
}
#currentComments,
#currentLikes{
  display:inline-block;
  width:120px;
  height:60px;
  margin: auto 33px;
  text-align: center;
  vertical-align: middle;
  background-color: #5F8CB0;
  background-image: url("/assets/noise-2.png"), -o-linear-gradient(left, #4A7496, #5F8CB0);
  background-position: 50% 50%;
  border: 1px solid #1C5380;
  box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 0.102), inset 1px 0px 0px rgba(255, 255, 255, 0.047), 0px 1px 3px rgba(0, 0, 0, 0.149), -2px 0px 2px rgba(0, 0, 0, 0.102);
  border-radius: 10px;
  color:#F4F7F9;
  font-weight: bold;
  font-size: 1.5em; 
}
#currentComments:hover,
#currentLikes:hover{
  background-image: url("/assets/noise-2.png"), -o-linear-gradient(left, #426987, #547D9C);
}
#currentComments span,
#currentLikes span{
  display: block;
  position: relative;
  top:-24px;
  right:-40px; 
  width: 80px;
}
#currentLikes i,
#currentComments i{
  margin-right:5px;
  margin-top:17px; 
  width: 27px;
  height: 22px;
  background-image: url("/assets/photo-page-assets.png");
  display: block;
  position: relative;
  right:-14px;
}
#currentLikes i{
  background-position: -6px -8px;
}
#currentLikes:hover i{
  background-position: -106px -8px;
}
#currentComments i{
  background-position: -6px -108px;
}
#currentComments:hover i{
  background-position: -106px -108px;
}
#currentNames{
  height:105px;
}
blockquote {
  margin: 0.5em 2em;
  border-left: 1px dashed #999;
  padding-left: 1em;
  display: inline-block;
  max-height:120px;
  overflow-y: auto;
  max-width: 510px;
  word-wrap: break-word;
}
blockquote p:first-letter {
  float: left;
  margin: .2em .3em .1em 0;
  font-family: "Monotype Corsiva", "Apple Chancery", fantasy;
  font-size: 220%;
  font-weight: bold;
}
#currentButton{
  margin-top:55px;
}
#currentQuote{
  clear:both;
}
#currentUser{
  font-size: 2em;
  font-style:italic;
  white-space: nowrap;
  width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  margin-bottom:-8px;
}
#atSign{
  font-weight: 800;
  color:#999;
  font-size: 1.6em;
  margin-right: 2px; 
}
#feeds{
  color:#444;
}
#feeds h2{
  margin-bottom:15px;
}
#layouts{
  cursor: pointer;
  margin: auto;
  border-spacing: 0px;
}
#layouts tr:first-child td{
  background-image:url(/assets/grid.png);
  height:113px;
  width:180px;
  background-size:cover;
  box-shadow: inset 0px 0px 14px #333333;
}
#layouts tr:first-child td:first-child{
  background-image:url(/assets/stack.png);
  border-radius: 10px 0px 0px 10px;
}
#layouts tr:first-child td:last-child{
  background-image:url(/assets/fade.png);
  border-radius: 0px 10px 10px 0px;
}
#layouts tr:last-child{
  text-align: center;
  color:#666;
}
#layouts label{
  width: 180px;
  height: 112px;
  display:block;
  background-color: rgba(0,0,0,0.7);
}
#layouts tr:first-child td:first-child label{
  border-radius: 10px 0px 0px 10px;
}
#layouts tr:first-child td:last-child label{
  border-radius: 0px 10px 10px 0px;
}
#layouts label:hover,
#layouts input:checked + label{
  background-color: rgba(0,0,0,0.0);
}
#timerHolder{
  margin: 10px auto;
  width: 324px;
}
#feedOptions{
  border: 1px solid #999;
  margin: auto;
  width: 540px;
  border-radius: 10px;
  height: 155px;
  overflow: hidden;
}
#feedOptions li{
  margin: auto 0;
}
#feedOptions ul{
  border-radius: 10px 10px 0px 0px;
  height: 45px;
  width: 100%;
  display: flex;
  flex-flow: row;
}
#feedOptions i{
  height: 22px;
  width: 30px;
  top: 5px;
  position: relative;
}
#feedOptions label{
  width:134px;
  height:40px;
  cursor: pointer;
  box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 0.102), inset 1px 0px 0px rgba(255, 255, 255, 0.047), 0px 1px 3px rgba(0, 0, 0, 0.149), -2px 0px 2px rgba(0, 0, 0, 0.102);
}
#feedOptions label[for=me] i{
  background-position: -210px -2px;
}
#feedOptions label[for=tags] i{
  background-position: -158px -2px;
}
#feedOptions label[for=geo] i{
  width: 28px;
  background-position: -184px -1px;
}
#feedOptions label[for=popular] i{
  background-position: -240px -2px;
}

#feedOptions label div{
  text-align: center;
  color: #eee;
  width: 134px;
  height: 45px;
}
#feedOptions li{
  border-left: 1px solid #1C5380;
}
#feedOptions li:first-child{
  border-left: 0px solid #1C5380;
}
div.feedOption{
  display: none;
}
#geoOptions{
  height:110px;
  width:100%;
}

#meOptions,
#tagsOptions,
#popularOptions{
  margin:10px;
}

#tagsOptions  *{
  font-weight: 700;
  font-size: 20px;
}

#tagsOptions{
  text-align: center;
}

#tagsOptions p{
  margin-top: 30px;
}
#tagsOptions #searchTag{
  padding: 5px 5px 5px 20px;
}

#hashChar{
  display:inline-block;
  position:relative;
  left:13px;
  top:1px;
  width:0px;
}

#feedOptions.geo #geoOptions,
#feedOptions.me #meOptions,
#feedOptions.tags #tagsOptions,
#feedOptions.popular #popularOptions{
  display: block;
}

@media all and (max-width: 500px) {
  body{
    background: inherit;
  }
  header{
    display:none;
  }
  #main{
    width:100%;
    height:100%;
    border: 0px;
    margin:auto;
  }
  nav{
    width:15%;
    border: 0px solid #1C5380;
  }
  nav li div.label-inner{
    left:5px;
    top:32px;
    height:48px;
    width:55px;
  }
  nav li label {
    height: 119px;
  }
  nav li div.label-inner span{
    display: none;
  }
  nav li label i{
    background-size: 250px;
    width: 50px;
  }
  nav li label[for=photo] i{
    background-position: -42px 0px;
  }
  nav li label[for=feeds] i{
    background-position: 7px 0px;
  }
  nav li label[for=info] i{
    background-position: -96px 0px;
  }
  #inner{
    width:85%;
    border-radius: 10px;
    margin-left: -10px;
    padding-left: 12px;
    background: url("/assets/body_noise_media.png") 50% 0px #E3E8EC;
    padding: 13px;
  }
  article{
    padding: 0px;
  }
  #inner section{
    height:345px !important;
  }
  #currentDetails{
    width: 100%;
  }
  #currentNames{
    height: 52px;
  }
  #currentButton{
    margin-top: 25px;
    width:53%;
    float: right;
  }
  #currentLikes,
  #currentComments{
    height: 52px; 
    margin: 5px 33px;
  }
  #currentLikes i,
  #currentComments i{
    margin-top: 14px;
  }
  #currentName{
    display: none;
  }
  #currentUser{
    width: 88%;
    font-size: 1.5em;
  }
  #atSign{
    font-size: 1.2em;
    margin-right: 3px; 
  }
  .seconds{
    display: none;
  }
  #layouts td,
  #layouts td label{
    width: 131px;  
  }
  #feedOptions{
    width: 392px;
  }
  #feedOptions label div{
    width: 97px;
  }
  #feedOptions li:first-child label div{
    border-top-left-radius:10px;
  }
  #feedOptions li:last-child label div{
    border-top-right-radius:10px;
  }
  #feeds h2{
    display: none;
  }
  blockquote{
    max-width:312px;
  }
}
